$backgroundbody: url(../background.jpg);
$bp1: 480px;
$bp2: 768px;


/*Utilisation de la police fournie*/
@font-face {
    font-family: "Bernina";
    src: url("../fonts/BerninaSans-Web-CondensedBold.woff2") format("woff2");
   }

/*Mise en place pour un écran de 480px (smartphone)*/
@media (max-width: 480px){
    h1, h2, h3, button,.experience{
        font-family: Bernina;
        color: #004153;
    }
    
    h1{
        color:white;
    }
	.background{
        background-image: url("../background.jpg");
        position:absolute;
        width: 50%;
        overflow: hidden;
    }
    .promo{
        position: absolute;
        right: 10%;
        top: 15%;
        background-color: #810426;
        color: #fff;
        padding: 0.5%;
        transform: rotate(30deg);
        border-radius:5px; 
    }

    .slogan{
        position:absolute;
        padding: 0.5%;
        top: 100%;
        font-size: 22px;
        padding-right: 0;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .inner {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .info{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .button{
            background-color: #fff;
            border: 0.5%;
            border-color:grey; 
            color: #004153;
            padding: 10px 25px;
            border-radius: 10%;
            text-align: center;
            display: inline-block;
            font-size: 16px;;
    }
    
    .titre{
        text-align: center;
    }
    
    .description{
        text-align: center;
    
    }
    
    .experience{
        text-align: right;
        color: #004153;
    
    }

    .experience{
        text-align: left;
        color: #004153;
    }
    
}
/*Mise en place pour un écran de 768px (tablette)*/
@media (max-width: 768px){
    h1, h2, h3, button,.experience{
        font-family: Bernina;
        color: #004153;
    }
    
    h1{
        color:white;
    }
    .background{
        background-image: url("../background.jpg");
        position:absolute;
        width: 50%;
        overflow: hidden;
    }

    .promo{
        position: absolute;
        right: 10%;
        top: 15%;
        background-color: #810426;
        color: #fff;
        padding: 0.5%;
        transform: rotate(30deg);
        border-radius:5px; 
    }

    .inner {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .info{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .button{
            background-color: #fff;
            border: 0.5%;
            border-color:grey; 
            color: #004153;
            padding: 10px 25px;
            border-radius: 10%;
            text-align: center;
            display: inline-block;
            font-size: 16px;;
    }
    
    .titre{
        text-align: center;
    }
    
    .description{
        text-align: center;
    
    }
    
    .experience{
        text-align: right;
        color: #004153;
    
    }

    .lesLogos{
        display: -ms-flexbox;
        display: inline-flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    
    .unLogo{
        width: 33%;

    }
    .experience{
        text-align: left;
        color: #004153;
    }
}
@media (min-width: 768px){
h1, h2, h3, button,.experience{
     font-family: Bernina;
     color: #004153;
 }
 
 h1{
     color:white;
 }
 
 .background{
     background-image: url("../background.jpg");
     position:absolute;
     max-width: 100%;
     margin: 0%;
 }
 .promo{
     position: absolute;
     right: 10%;
     top: 15%;
     background-color: #810426;
     color: #fff;
     padding: 0.5%;
     transform: rotate(30deg);
     border-radius:5px; 
 }
 
 .slogan{
     position:absolute;
     padding: 0.5%;
     top: 120%;
     font-size: 29px;
     padding-right: 53%;
     background-color: rgba(255, 255, 255, 0.5);
 }
 
 .inner {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
 }
 .info{
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 
 .button{
         background-color: #fff;
         border: 0.5%;
         border-color:grey; 
         color: #004153;
         padding: 10px 25px;
         border-radius: 10%;
         text-align: center;
         display: inline-block;
         font-size: 16px;;
 }
 
 .titre{
     text-align: center;
 }
 
 .description{
     text-align: center;
 
 }
 
 .experience{
     text-align: right;
     color: #004153;
 
 }
 
 .lesLogos{
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
 }
 
 .unLogo{
     width: 33%;
     display: inline-block;
 }
 
 .txtcenter{
     text-align: center;
 
    }
 }
